.mySwiperPastki {
  width: 1200px;
  margin-bottom: 70px;
  max-height: 300px;
  padding-top: 40px;
  .swiper-wrapper {
    display: flex;
    gap: 30px;
    .swiper-slide {
      .b_of_asosiy_img {
        border-radius: 25px;
        height: 100%;
        width: 100%;
        margin: 5px auto;
        object-fit: contain;
        border-radius: 15px;
      }
    }
  }
}

@media (max-width: 1210px) {
  .mySwiperPastki {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .mySwiperPastki {
    margin-top: 0;
    margin-bottom: 80px;
    .swiper-wrapper {
      gap: 30px;
    }
  }
}
