@keyframes pop_top{
    from{top: -100%;}
    to{top: 10%;}
}
@keyframes pop_bottom{
    from{bottom: -100%;}
    to{bottom: 10%;}
}

@keyframes load_txt{
    from{
        left: -100%;
    }to{
        left: 40%;
    }
}

.load {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .load_txt{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: none;
    gap: 2px;
    font-size: 35px;
    background-color: #7000ff;
    color: #fff;
    padding: 8px 25px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 45%;
    left: 40%;
    animation: load_txt 4s forwards;
    p{
        font-weight: 700;
    }
  }
  img{
    width: 300px;
    position: absolute;
  }
  .m1{
    animation: pop_top 1.5s forwards;
    top: 10%;
    left: 3%;
    transform: rotate(15deg);
  }
  .m2{
    animation: pop_bottom 3s forwards;
    bottom: 10%;
    left: 3%;
    transform: rotate(-10deg);
  }
  .m5{
    animation: pop_top 1.5s forwards;
    top: 10%;
    right: 8%;
    transform: rotate(-15deg);
  }
  .m6{
    animation: pop_top 1.5s forwards;
    top: 10%;
    right: 40%;
    transform: rotate(5deg);
  }
  .m7{
    animation: pop_bottom 3s forwards;
    width: 350px;
    bottom: 10%;
    left: 35%;
    transform: rotate(-10deg);
  }
  .m9{
    animation: pop_bottom 3s forwards;
    bottom: 10%;
    right: 10%;
    transform: rotate(-2deg);
  }
}


@media(max-width:1024px){
    .load{
        img{
            display: none;
        }
    }
}