.mySwiperPastki {
  width: 1200px;
  margin: 20px auto;
  padding-top: 10px;
  .swiper-wrapper {
    display: flex;
    gap: 30px;
    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .b_of_asosiy_img {
        border-radius: 25px;
        width: 75%;
        height: 100px;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 20%;
      }
      .savdo{
        font-size: 13px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1210px) {
  .mySwiperPastki {
    width: 100%;
    padding-top: 0;
  }
}

@media (max-width: 670px) {
  .mySwiperPastki {
    margin: 0;
    .swiper-wrapper {
      gap: 30px;
    }
  }
}


@media(max-width:375px){
  .mySwiperPastki {
    margin: 10px 0;
    .swiper-wrapper {
      gap: 15px;
      .swiper-slide {
        gap: 3px;
        .b_of_asosiy_img {
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }
    }
  }
}