.mySwiperPastki {
  width: 1200px;
  margin: 20px auto;
  padding-top: 10px;
  .swiper-wrapper {
    display: flex;
    gap: 30px;
    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .b_of_asosiy_img {
        border-radius: 25px;
        width: 100%;
        height: 100px;
        margin: 5px auto;
        object-fit: contain;
        border-radius: 15px;
      }
      .savdo{
        font-size: 14px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1210px) {
  .mySwiperPastki {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .mySwiperPastki {
    margin-top: 0;
    margin-bottom: 80px;
    .swiper-wrapper {
      gap: 30px;
    }
  }
}


@media(max-width:375px){
  .mySwiperPastki {
    .swiper-wrapper {
      gap: 15px;
      .swiper-slide {
        .b_of_asosiy_img {
          border-radius: 8px;
        }
      }
    }
  }
}