@import url(../../styles/style.css);
/* products part */

.groupOfProducts{
    width: 1200px;
    margin: 40px auto;
    margin-top: 0;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    position: relative;
    overflow: hidden;
}

.hide{
    opacity: 0;
    display: none;
}

@keyframes left_move {
    from{
        opacity: 0;
        top: -200px;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

.selected{
    visibility: visible;
    animation: left_move 1.8s forwards;
}

/*  products part */


/* slider buttons group */

.productGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.productGroup .slider_pagination{
    font-size: 18px; 
    padding: 8px 10px;
    box-shadow:  var(--box-sh);
    cursor: pointer;
    border-radius: 8px;
    margin: 35px 0 ;
    margin-bottom: 50px;
}

.active{
    background-color:rgb(183, 76, 250) ;
    color: white;
    font-size: 700;
}

/* slider buttons group */

.cards{
    width: 320px;
    border-radius: var(--border_r);
    position: relative;
    overflow: hidden;
    border: 1.5px solid #cacacac7;
}

.cards .products_img{
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.cards .infoPart{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 8px 5px;
    padding-top: 15px;
}

.cards .infoPart .txt_grp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cards .infoPart .txt_grp mark{
    padding: 2px 8px;
    border-radius: 5px;
}

.cards .infoPart a .buyurtma_btn{
    color: #fff;
    background-color: var(--main-color);
    border: none;
    font-size: 18px;
    padding: 8px 10px ;
    border-radius: 5px;
    font-weight: 600;
}

.cards:hover{
    background-color: #fff;
    box-shadow: var(--box-sh);
    border: none;
}

.cards:hover .products_img{
    transform: scale(1.1);
}


/*  responsive part */
@media(max-width:1210px){
    .groupOfProducts{
        width: 100%;
    }
}

@media(max-width:670px){
    .groupOfProducts{
        width: 100%;
        justify-content: center;
        gap: 20px;
        padding-top: 20px;
    }
    .cards .products_img{
        object-fit: cover;
    }
}

@media(max-width:330px){
    .groupOfProducts{
        gap: 6.5vw;
    }
    .cards{
        width: 92vw;
        border-width: 0.5vw;
    }
    .cards .infoPart{
        gap:0.5vw;
        padding: 5vw 1.5vw;
        padding-top: 20px;
    }
    .cards .infoPart .txt_grp {
        gap: 2.5vw;
    }
    .cards .infoPart .txt_grp mark{
        padding: 0.5vw 2vw;
        border-radius: 1.5vw;
        font-size: 4.5vw;
    }
    .cards .infoPart .txt_grp .name{
        font-size: 4.5vw;
    }
    .cards .infoPart a .buyurtma_btn{
        font-size: 5.5vw;
        padding:3.5vw 4vw ;
        border-radius: 3.5vw;
    }

    .productGroup .slider_pagination{
        margin-top: 0;
        margin-bottom: 35px;
    }
}