@import url(../../styles/style.css);
/* products part */

.groupOfProducts{
    width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.hide{
    opacity: 0;
    display: none;
}

@keyframes left_move {
    from{
        opacity: 0;
        top: -200px;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

.selected{
    visibility: visible;
    animation: left_move 1.8s forwards;
}

/*  products part */


/* slider buttons group */

.productGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.productGroup .slider_pagination{
    font-size: 18px; 
    padding: 8px 10px;
    box-shadow:  var(--box-sh);
    cursor: pointer;
    border-radius: 8px;
    margin: 50px 0 ;
}

.active{
    background-color:rgb(183, 76, 250) ;
    color: white;
    font-size: 700;
}

/* slider buttons group */

.cards{
    width: 250px;
    border-radius: var(--border_r);
    position: relative;
    overflow: hidden;
    border: 1.5px solid #cacacac7;
}

.cards .products_img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: var(--border_r);
    transition: transform 0.3s ease;
}

.cards .infoPart{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 8px 5px;
}

.cards .infoPart mark{
    padding: 2px 8px;
    border-radius: 5px;
}

.cards .infoPart .buyurtma_btn{
    color: #fff;
    background-color: var(--main-color);
    border: none;
    font-size: 18px;
    padding: 8px 15px ;
    border-radius: 5px;
    font-weight: 600;
}

.cards:hover{
    background-color: #fff;
    box-shadow: var(--box-sh);
    border: none;
}

.cards:hover .products_img{
    transform: scale(1.1);
}


/*  responsive part */
@media(max-width:1210px){
    .groupOfProducts{
        width: 100%;
    }
}

@media(max-width:670px){
    .groupOfProducts{
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    .cards{
        width: 200px;
        
    }

    .cards .products_img{
        object-fit: cover;
    }
}